#map {
  height: 100vh;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
:root {
  --color-primary: #186afd;
  --color-primary-900: #2f79fd;
  --color-primary-800: #4688fd;
  --color-primary-700: #5d97fe;
  --color-primary-600: #74a6fe;
  --color-primary-500: #8cb5fe;
  --color-primary-400: #a3c3fe;
  --color-primary-300: #bad2fe;
  --color-primary-200: #d1e1ff;
  --color-primary-100: #e8f0ff;

  --color-white: #ffffff;
  --color-black: #020b19;
  --color-black-pure: 0, 0, 0;
  
  --background-primary: #F6F8FE;

  --shadow: 0 2px 10px rgba(var(--color-black-pure), 0.1);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-black);
  margin: 0;
}

/* COmponent */
.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;
}

.card {
  background: var(--color-white);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.text-primary {
  color: var(--color-primary);
}

/* Main */
.main {
  background: var(--background-primary);
  margin-top: 60px;
  padding: 24px 0;
}

.research__header {
  margin-bottom: 24px;
}
.research__title {
  font-size: 36px;
  font-weight: 400;
}

.card__info {
  margin-bottom: 8px;
}

/* responsive - small */
@media screen and (min-width: 28em) {

}
/* responsive - small_portrait */
@media screen and (min-width: 28em) and (orientation: portrait) {

}
/* responsive - small_landscape */
@media screen and (min-width: 28em) and (orientation: landscape) {

}

/* responsive - medium */
@media screen and (min-width: 48em) {
  .container {
    width: 94%;
  }

  .main {
    margin-top: 70px;
  }
}
/* responsive - medium_portrait */
@media screen and (min-width: 48em) and (orientation: portrait) {

}
/* responsive - medium_landscape */
@media screen and (min-width: 48em) and (orientation: landscape) {

}

/* responsive - large */
@media screen and (min-width: 64em) {

}
/* responsive - extra_large */
@media screen and (min-width: 75em) {
  .container {
    max-width: 1280px;
  }
}